*{
  margin: 5px;
  padding: 5px;
}
header
{
  font-size: 20pt;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
header h2{
  font-size: 50px;
}
}
 header nav {
  display: flex;
 }
  body{
    background: url(../imagenes/betta2.jpg);   
    background-size: cover;
     
}
section{
  background: transparent;
  text-decoration: underline;
  color: yellow;
  float: left;
}  
aside{
  background: transparent;
  color: yellow;
  text-decoration: underline;
  font-size: 30;
  height: 500px;
  width: 450px;
  float: right;

}

main{
  color: green;
  justify-content: space-between;
}
footer{
  background: transparent;
  color: green;
  font-size: 9pt;
  text-align: left;
  height: 0px;
  float: below;
}

@media (max-width: 700px)
  header {
      background-color:cyan;
      flex-direction: column;
  } 

P {
  text-align: initial;
}
img{
  height:250px;
  width:250px;
  float:left;
} 
 td{
  color: white;
 }
 p{
  color: white;
  background: green;
 }


